body {
	background-color: #F3F3F3;
	background-size: cover;
	background-position: center;
}


html{
	height: 100%;
}

.navbar-brand {
	padding-right: 40px;
}

hr {
	border: 1px solid black;
}

.intro h1 {
	color: black;
	padding-top: 2%;
}

.intro p {
	color: black;
	padding-bottom: 2%;
}


.carousel-item .picture {
	padding-right: 40px;
	display: inline-block;
  position: relative;
  width: 40%;
  height: 40%;
  overflow: hidden;
	padding-bottom: 5%;
}

.carousel-indicators li {
	display: inline-block;
	position: relative;
  width: 20px;
  height: 5px;
  text-indent: 0;
  cursor: pointer;
	border: none;
  background-color: #4b4b4b;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.carousel-control-prev {
	width: 2%;
  }

.carousel-control-next {
	width: 3%;
}
