body {
	background-color: #F3F3F3;
	background-size: cover;
	background-position: center;
}


html{
	height: 100%;
}

.navbar-brand {
	padding-right: 40px;
}

hr {
	border: 1px solid black;
}

.row {
	padding-top: 2%;
}

.row .img-thumbnail img {
  width: 100%;
}

.row .img-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.intro p {
	color: black;
	padding-bottom: 2%;
}
