body {
	background: url(https://cdn-images-1.medium.com/max/2400/1*M1hYXODiQnh8nobB9YF3RA.jpeg);
	background-size: cover;
	background-position: center;
}


html{
	height: 100%;
}

h1{
	color: white;
	text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
             #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
	margin: auto;
	padding-top: 20%;
	text-align: center;
	font-weight: 700;
	font-size: 5em;
}

h2{
	color: white;
	text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
             #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
	padding-top: 1%;
	margin: auto;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
}

.navbar-brand {
	padding-right: 40px;
}
