body {
	background-color: #F3F3F3;
	background-size: cover;
	background-position: center;
}

html{
	height: 100%;
}

/navbar-brand {
	padding-right: 40px;
}

hr {
	border: 1px solid black;
}

.intro h1 {
	color: black;
	padding-top: 2%;
}

.intro p {
	color: black;
	padding-bottom: 2%;
}
