body {
	background-color: #F3F3F3;
	background-size: cover;
	background-position: center;
}

html{
	height: 100%;
}

/navbar-brand {
	padding-right: 40px;
}

hr {
	border: 1px solid black;
}

.container h1 {
	color: black;
	padding-top: 2%;
}

.row {
	padding-top: 2%;
	padding-bottom: 2%
}

.intro p {
	color: black;
	padding-bottom: 2%;
}

.container .card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*.card-img-top {
    width: 200px;
    height: 167px;
    object-fit: cover;
}*/
