<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href= "../static/css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
  </nav>

  <div class="container">
    <div class="intro">
      <h1>About Us</h1>
      <p>Our goal is to create a powerful resource to find information about books. We advocate a strong focus on reading by giving people the opportunity to find information about their favorite books, authors and publishers.</p>
      <hr>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class = picture src="../static/images/asim.jpeg" align = left alt = "person1">
          <h2>Asim Hirji</h2>
          <p>Major: Mathematics and Humanities Honors</p>
          <p>Bio: Part time actor. Catch me on TV during March Madness!</p>
          <p>Task: About Us Page</p>
          <p>Commits: 8</p>
          <p>Issues: 5</p>
        </div>
        <div class="carousel-item">
          <img class = picture src="../static/images/devika.jpeg" align = left alt = "person2">
          <h2>Devika Raju</h2>
          <p>Major: Public Health</p>
          <p>Bio: Pre-med student just trying to kill time. Apart of Texas 4000! Donate to help our cause!</p>
          <p>Task: Authors Pages</p>
          <p>Commits: 2</p>
          <p>Issues: 4</p>
        </div>
        <div class="carousel-item">
          <img class = picture src="../static/images/colton.jpg" align = left alt = "person3">
          <h2>Colton Ragland</h2>
          <p>Major: Mathematics</p>
          <p>Bio: Juggles and watches movies, among other things</p>
          <p>Task: Splash Page</p>
          <p>Commits: 3</p>
          <p>Issues: 3</p>
        </div>
        <div class="carousel-item">
          <img class = picture src="../static/images/kunjan.jpg" align = left alt = "person4">
          <h2>Kunjan Mehta</h2>
          <p>Major: Information Studies</p>
          <p>Bio:  Electronics Engineer, UX professional, now a Software Engineer</p>
          <p>Task: Books Page</p>
          <p>Commits: 4</p>
          <p>Issues: 7</p>
        </div>
        <div class="carousel-item">
          <img class = picture src="../static/images/priya.jpeg" align = left alt = "person5">
          <h2>Priya Ramamoorthy</h2>
          <p>Major: Public Health</p>
          <p>Bio: Loves tea and takes way too many naps!</p>
          <p>Task: Publisher pagese</p>
          <p>Commits: 17</p>
          <p>Issues: 7</p>
        </div>
      </div>

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>

</div>
<hr>
<table class = "table table-striped table-dark">
  <thead>
    <th scope="col">Total Commits</th>
    <th scope="col">Total Issues</th>
  </thead>
  <tbody>
    <tr>
      <th scope = "row">46</th>
      <td>30</td>
    </tr>
  </tbody>
</table>

<div class= "project-info">
  <p>Tools: HTML/CSS, Bootstrap, Flask(Python), Slack, Git</p>
  <p><a href="http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json">Data Sources</a></p>
  <p>Gitlab Issue Tracker: <a href="https://gitlab.com/PriyaRamamoorthy/cs329e-idb/issues"> Issues</a> </p>
  <p>Check out our repo <a href="https://gitlab.com/PriyaRamamoorthy/cs329e-idb">here!</a> </p>
  <p>Gitlab Wiki: <a href="https://gitlab.com/PriyaRamamoorthy/cs329e-idb/wikis/Phase-1-Technical-Report">Wiki</a> </p>
</div>

  </div>
