<!DOCTYPE html>
<html>
<head>
    <title>Authors</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href= "../static/css/authors.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('authors')}}">Authors<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg"><br>
					<b>Author: </b> <a href="{{url_for('j_k_rowling')}}">J. K. Rowling</a><br>
					<b>Book: </b> <a href="{{url_for('harry_potter')}}">Harry Potter and the Half-Blood Prince</a><br>
					<b>Publisher: </b> <a href="{{url_for('pottermore')}}">Pottermore</a><br>
					<b>Birthday: </b> 07-31-1965 <br>
					<b>Nationality: </b>British<br>
					<b>Education: </b> Bachelor of Arts <br><br>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Dr._Siddhartha_Mukherjee_2011.jpg/220px-Dr._Siddhartha_Mukherjee_2011.jpg"><br>
					<b>Author: </b> <a href="{{url_for('siddhartha_mukherjee')}}">Siddhartha Mukherjee</a><br>
					<b>Book: </b> <a href="{{url_for('emperor')}}">The Emperor of All Maladies</a><br>
					<b>Publisher: </b> <a href="{{url_for('simonandschuster')}}">Simon & Schuster</a><br>
					<b>Birthday: </b> 07-21-1970 <br>
					<b>Nationality: </b>American, Indian<br>
					<b>Education: </b> Doctor of Medicine <br><br>
				</div>
			</div>


			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Timothy_Ferriss.jpg/220px-Timothy_Ferriss.jpg"><br>
					<b>Author: </b> <a href="{{url_for('timothy_ferriss')}}">Tim Ferriss</a><br>
					<b>Book: </b> <a href="{{url_for('four_hour')}}">The 4-Hour Work Week</a><br>
					<b>Publisher: </b> <a href="{{url_for('randomhouse')}}">Random House</a><br>
					<b>Birthday: </b> 07-20-1977 <br>
					<b>Nationality: </b> American <br>
					<b>Education: </b> Bachelor of Arts <br><br>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Steven_Erikson_2016.jpg/179px-Steven_Erikson_2016.jpg"><br>
					<b>Author: </b> <a href="{{url_for('steven_erikson')}}">Steven Erikson</a><br>
					<b>Book: </b> <a href="{{url_for('gardens_of_moon')}}">Gardens of the Moon</a><br>
					<b>Publisher: </b> <a href="{{url_for('palmac')}}">Palgrave Macmillan</a><br>
					<b>Birthday: </b> 10-07-1959 <br>
					<b>Nationality: </b> Canadian <br>
					<b>Education: </b> Bachelor of Arts <br><br>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
