<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href= "../static/css/books.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('books')}}">Books<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="https://books.google.com/books/content/images/frontcover/qaKkenvL29UC?fife=w500" height = "300" width = "225"><br>
					<b>Title: </b> <a href="{{url_for('harry_potter')}}">Harry Potter and the Half-Blood Prince</a><br>
					<b>ISBN: </b> 9781781100257<br>
					<b>Author: </b> <a href="{{url_for('j_k_rowling')}}">J. K. Rowling</a><br>
					<b>Publisher: </b> <a href="{{url_for('pottermore')}}">Pottermore</a><br>
					<b>Description: </b>There it was, hanging in the sky above the school: the blazing green skull with a serpent tongue, the mark Death Eaters left behind whenever they had entered a building... wherever they had murdered...<br><br>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="https://books.google.com/books/content/images/frontcover/hgx0sJvphNkC?fife=w500" height = "300" width = "225"><br>
					<b>Title: </b> <a href="{{url_for('emperor')}}">The Emperor of All Maladies</a><br>
					<b>ISBN: </b> 9781439170915<br>
					<b>Author: </b> <a href="{{url_for('siddhartha_mukherjee')}}">Siddhartha Mukherjee</a><br>
					<b>Publisher: </b> <a href="{{url_for('simonandschuster')}}">Simon & Schuster</a><br>
					<b>Description: </b>An assessment of cancer addresses both the courageous battles against the disease and the misperceptions and hubris that have compromised modern understandings...<br><br>
				</div>
			</div>


			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="https://books.google.com/books/content/images/frontcover/tQ1C-rvAfJUC?fife=w500" height = "300" width = "225"><br>
					<b>Title: </b> <a href="{{url_for('four_hour')}}">The 4-Hour Work Week</a><br>
					<b>ISBN: </b> 9781446490594<br>
					<b>Author: </b> <a href="{{url_for('timothy_ferriss')}}">Tim Ferriss</a><br>
					<b>Publisher: </b> <a href="{{url_for('randomhouse')}}">Random House</a><br>
					<b>Description: </b>A new, updated and expanded edition of this New York Times bestseller on how to reconstruct your life so it's not all about work Forget the old concept of retirement and the rest of the deferred-life plan...<br><br>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="img-thumbnail">
					<img src="https://books.google.com/books/content/images/frontcover/Jgth_BYe7V8C?fife=w500" height = "300" width = "225"><br>
					<b>Title: </b> <a href="{{url_for('gardens_of_moon')}}">Gardens of the Moon</a><br>
					<b>ISBN: </b> 1429926589<br>
					<b>Author: </b> <a href="{{url_for('steven_erikson')}}">Steven Erikson</a><br>
					<b>Publisher: </b> <a href="{{url_for('palmac')}}">Palgrave Macmillan</a><br>
					<b>Description: </b>The Malazan Empire simmers with discontent, bled dry by interminable warfare, bitter infighting and bloody confrontations with the formidable Anomander Rake and his Tiste Andii, ancient and implacable sorcerers...<br><br>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
