<!DOCTYPE html>
<html>
<head>
	<title>The 4-Hour Work Week</title>
	<style type="text/css">
	th, td {
		padding: 15px;
	}
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div align="center">
		<table style="width:60%">
			<tr>
				<td rowspan="5"><img src="https://books.google.com/books/content/images/frontcover/tQ1C-rvAfJUC?fife=w500" style="width:350; height:350px;"></td>
				<td><b>Title: </b>The 4-Hour Work Week</td>
			</tr>

			<tr>
				<td><b>ISBN: </b> 9781446490594</td>
			</tr>

			<tr>
				<td><b>Author: </b> <a href="{{url_for('timothy_ferriss')}}">Tim Ferriss</a></td>
			</tr>

			<tr>
				<td><b>Publisher: </b> <a href="{{url_for('randomhouse')}}">Random House</a></td>
			</tr>

			<tr>
				<td><b>Description: </b>A new, updated and expanded edition of this New York Times bestseller on how to reconstruct your life so it's not all about work Forget the old concept of retirement and the rest of the deferred-life plan - there is no need to wait and every reason not to, especially in unpredictable economic times. Whether your dream is escaping the rat race, experiencing high-end world travel, earning a monthly five-figure income with zero management, or just living more and working less, this book is the blueprint. This step-by step guide to luxury lifestyle design teaches: * How Tim went from $40,000 dollars per year and 80 hours per week to $40,000 per MONTH and 4 hours per week * How to outsource your life to overseas virtual assistants for $5 per hour and do whatever you want * How blue-chip escape artists travel the world without quitting their jobs * How to eliminate 50% of your work in 48 hours using the principles of a forgotten Italian economist * How to trade a long-haul career for short work bursts and frequent 'mini-retirements'. This new updated and expanded edition includes: More than 50 practical tips and case studies from readers (including families) who have doubled their income, overcome common sticking points, and reinvented themselves using the original book as a starting point * Real-world templates you can copy for eliminating email, negotiating with bosses and clients, or getting a private chef for less than \u00a35 a meal * How lifestyle design principles can be suited to unpredictable economic times * The latest tools and tricks, as well as high-tech shortcuts, for living like a diplomat or millionaire without being either.</td>
			</tr>
		</table>
	</div>
</body>
</html>
