<!DOCTYPE html>
<html>
<head>
	<title>Gardens of the Moon</title>
	<style type="text/css">
	th, td {
		padding: 15px;
	}
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div align="center">
		<table style="width:60%">
			<tr>
				<td rowspan="5"><img src="https://books.google.com/books/content/images/frontcover/Jgth_BYe7V8C?fife=w500" style="width:350; height:350px;"></td>
				<td><b>Title: </b>Gardens of the Moon</td>
			</tr>

			<tr>
				<td><b>ISBN: </b> 1429926589</td>
			</tr>

			<tr>
				<td><b>Author: </b> <a href="{{url_for('steven_erikson')}}">Steven Erikson</a></td>
			</tr>

			<tr>
				<td><b>Publisher: </b> <a href="{{url_for('palmac')}}">Palgrave Macmillan</a></td>
			</tr>

			<tr>
				<td><b>Description: </b>The Malazan Empire simmers with discontent, bled dry by interminable warfare, bitter infighting and bloody confrontations with the formidable Anomander Rake and his Tiste Andii, ancient and implacable sorcerers. Even the imperial legions, long inured to the bloodshed, yearn for some respite. Yet Empress Laseen's rule remains absolute, enforced by her dread Claw assassins. For Sergeant Whiskeyjack and his squad of Bridgeburners, and for Tattersail, surviving cadre mage of the Second Legion, the aftermath of the siege of Pale should have been a time to mourn the many dead. But Darujhistan, last of the Free Cities of Genabackis, yet holds out. It is to this ancient citadel that Laseen turns her predatory gaze. However, it would appear that the Empire is not alone in this great game. Sinister, shadowbound forces are gathering as the gods themselves prepare to play their hand... Conceived and written on a panoramic scale, Gardens of the Moon is epic fantasy of the highest order--an enthralling adventure by an outstanding new voice. At the Publisher's request, this title is being sold without Digital Rights Management Software (DRM) applied.</td>
			</tr>
		</table>
	</div>
</body>
</html>
