<!DOCTYPE html>
<html>
<head>
	<title>Harry Potter</title>
	<style type="text/css">
		th, td {
  			padding: 15px;
		}
	</style>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div align="center">
	<table style="width:60%">
		<tr>
			<td rowspan="5"><img src="https://books.google.com/books/content/images/frontcover/qaKkenvL29UC?fife=w500" style="width:350; height:350px;"></td>
			<td><b>Title: </b>Harry Potter and the Half-Blood Prince</td>
		</tr>

		<tr>
			<td><b>ISBN: </b> 9781781100257</td>
		</tr>

		<tr>
			<td><b>Author: </b> <a href="{{url_for('j_k_rowling')}}">J. K. Rowling</a></td>
		</tr>

		<tr>
			<td><b>Publisher: </b> <a href="{{url_for('pottermore')}}">Pottermore</a></td>
		</tr>

		<tr>
			<td><b>Description: </b>There it was, hanging in the sky above the school: the blazing green skull with a serpent tongue, the mark Death Eaters left behind whenever they had entered a building... wherever they had murdered... When Dumbledore arrives at Privet Drive one summer night to collect Harry Potter, his wand hand is blackened and shrivelled, but he does not reveal why. Secrets and suspicion are spreading through the wizarding world, and Hogwarts itself is not safe. Harry is convinced that Malfoy bears the Dark Mark: there is a Death Eater amongst them. Harry will need powerful magic and true friends as he explores Voldemort's darkest secrets, and Dumbledore prepares him to face his destiny...</td>
		</tr>
	</table>
</div>
</body>
</html>
