<!DOCTYPE html>
<html>
<head>
	<title>J. K. Rowling</title>
	<style type="text/css">
		th, td {
  			padding: 15px;
		}
		body {
			background-color: #F3F3F3;
			background-size: cover;
			background-position: center;
		}

	</style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div align="center">
	<table style="width:60%">
		<tr>
			<td rowspan="6"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg" style="width:350; height:350px;"></td>
			<td><b>Author: </b>J. K. Rowling</td>
		</tr>

		<tr>
			<td><b>Book: </b> <a href="{{url_for('harry_potter')}}">Harry Potter</a></td>
		</tr>

		<tr>
			<td><b>Publisher: </b> <a href="{{url_for('pottermore')}}">Pottermore</a></td>
		</tr>

		<tr>
			<td><b>Birthday: </b> 07-31-1965 </td>
		</tr>

		<tr>
			<td><b>Nationality: </b> British </td>
		</tr>

		<tr>
			<td><b>Education: </b>Bachelor of Arts</td>
		</tr>
	</table>
</div>
</body>
</html>
