<!DOCTYPE html>
<html lang="en">

<head>
    <title>Palgrave Macmillan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "../static/css/pottermore.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
            <td width="50%" align = "center">
                <div class="container-fluid">
                    <h2>Books</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="padding-bottom: 8%">
                            <div class="carousel-item active">
                                <a href="{{url_for('gardens_of_moon')}}"><img class=picture src="https://books.google.com/books/content/images/frontcover/Jgth_BYe7V8C?fife=w500" alt="Gardnes of the Moon" style="height:620px"></a>
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/CHv0OJIJBfEC?fife=w500" alt="Memories of Ice" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/ukJE9lRkgt8C?fife=w500" alt="House of Chains" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/SV-grQVrlRQC?fife=w500" alt="The Bonehunters" style="height:600px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/rqR4tWb2P4MC?fife=w500https://books.google.com/books/content/images/frontcover/rqR4tWb2P4MC?fife=w500" alt="Toll the Hounds" style="height:600px">
                            </div>

                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>

                    </div>
                </div>
            </td>

            <td width="50%" align = "center">

    <div class="container">
       <div class="row" >
        <div class="col-4">
        </div>

        <div class="col-4" style="align:center">
          <br><br><br><br>
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" alt="Palgrave Macmillan"><br><br>
        </div>

        <div class="col-4">
        </div>

        </div>

       <div class="row">

        <div class="col-2">
        </div>

        <div class="col-8">
            <b>Name: </b> Palgrave Macmillan <br>
            <b>Parent Company: </b>Springer Nature<br>
            <b> Location: </b> London<br>
            <b>Website: </b> <a href="/">http://www.palgrave.com</a><br>
            <b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Palgrave_Macmillan">https://en.wikipedia.org/wiki/Palgrave_Macmillan></a><br>
            <b>Description: </b> Palgrave Macmillan is an international academic and trade publishing company. Its programme includes textbooks, journals, monographs, professional and reference works in print and online.\nPalgrave Macmillan was created in 2000 when St. <br><br>
        </p>
        </div>

        <div class="col-2">
        </div>

       </div>
    </div>

            </td>
        </tr>
    </table>
    <hr>

                <div class="container-fluid">
                 <div class="row">
                  <div class="col-11">
                    <h2 align=right >Authors</h2>
                    <div id="authorCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="padding-bottom: 5%">
                            <div class="carousel-item active">
                                <div class = "carousel-caption">
                                    <h1><a href="{{url_for('steven_erikson')}}">Steven Erikson</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <a href="{{url_for('steven_erikson')}}"><img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Steven_Erikson_2016.jpg/179px-Steven_Erikson_2016.jpg" align=right style="width:500px"></a>

                            </div>

                            <div class="carousel-item">
                                <div class = "carousel-caption">
                                    <h1 style = "color:black"> Brandon Sanderson&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Brandon_Sanderson_sign.jpg/250px-Brandon_Sanderson_sign.jpg" align=right alt = "Brandon Sanderson" style="width:500px">
                            </div>

                            <div class="carousel-item">
                                <div class = "carousel-caption">
                                    <h1 style = "color:black">Orson Scott Card&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg/250px-Orson_Scott_Card_at_BYU_Symposium_20080216_closeup.jpg" align=right alt = "Orson Scott Card" style="width:500px">
                            </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#authorCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#authorCarousel" data-slide-to="1"></li>
                            <li data-target="#authorCarousel" data-slide-to="2"></li>
                        </ol>

                    </div>
                  </div>
                 </div>
                </div>

</body>

</html>
