<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pottermore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "../static/css/pottermore.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
            <td width="50%" align = "center">
                <div class="container-fluid">
                    <h2>Books</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-bottom: 8%">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500" alt="Harry Potter and the Sorcerer's Stone" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/5iTebBW-w7QC?fife=w500" alt="Harry Potter and the Chamber of Secrets" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/Sm5AKLXKxHgC?fife=w500" alt="Harry Potter and the Prisoner of Azkaban" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <a href="{{url_for('harry_potter')}}"><img class=picture src="https://books.google.com/books/content/images/frontcover/qaKkenvL29UC?fife=w500" alt="Harry Potter and the Half-Blood Prince" style="height:620px"></a>
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/_oaAHiFOZmgC?fife=w500" alt="Harry Potter and the Deathly Hallows" style="height:600px">
                            </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>

                    </div>
                </div>
            </td>

            <td width="50%" align = "center">

    <div class="container">
       <div class="row" >
        <div class="col-4">
        </div>

        <div class="col-4" style="align:center">
          <br><br><br><br><br><br>
          <img src="http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png"><br><br>
        </div>

        <div class="col-4">
        </div>

        </div>

       <div class="row">

        <div class="col-2">
        </div>

        <div class="col-8">

           <b>Name: </b> Pottermore<br>
           <b>Parent Company/Owner: </b> J. K. Rowling<br>
           <b>Website:</b> <a href="http://www.pottermore.com\nshop.pottermore.com">http://www.pottermore.com\nshop.pottermore.com</a><br>
           <b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Pottermore">https://en.wikipedia.org/wiki/Pottermore</a><br>
           <b>Description: </b>Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World..<br><br>
        </div>

        <div class="col-2">
        </div>

       </div>
    </div>

            </td>
        </tr>
    </table>
    <hr>

                <div class="container-fluid">
                 <div class="row">
                  <div class="col-11">
                    <h2 align=right>Authors</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="padding-bottom: 5%">
                            <div class="carousel-item active">
                                <div class = "carousel-caption">
                                    <h1> <a href="{{url_for('j_k_rowling')}}">J. K. Rowling</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <a href="{{url_for('j_k_rowling')}}"><img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg" alt="J. K. Rowling" style="width:500px" align = right></a>
                            </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        </ol>

                    </div>
                  </div>
                 </div>
                </div>

</body>

</html>
