<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pottermore</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href= "../static/css/publishers.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Publishers<span class="sr-only">(current)</span></a>
      </li>
  </nav>

<div class="container">

<div class="row">

  <div class="col-sm-3">

    <div class="card">

    <img class="card-img-top" src="http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png" alt="Pottermore">

      <div class="card-body text-center">

        <h5 class="card-title">Pottermore</a></h5>

        <p class="card-text text-left">
        <b>Parent Company: </b> J. K. Rowling<br>
		<b>Website: </b> <a href="http://www.pottermore.com\nshop.pottermore.com">http://www.pottermore.com\nshop.pottermore.com</a><br>
		<b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Pottermore">https://en.wikipedia.org/wiki/Pottermore</a><br>
		<b>Description: </b>Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World..<br><br> </p>

        <a href="{{url_for('pottermore')}}" class="btn btn-info">More info</a>

      </div>

    </div>

  </div>

  <div class="col-sm-3">

    <div class="card">

    <img class="card-img-top" src="http://upload.wikimedia.org/wikipedia/en/thumb/d/db/Simon_and_Schuster.svg/200px-Simon_and_Schuster.svg.png" alt="Simon &amp; Schuster">

      <div class="card-body text-center">

        <h5 class="card-title">Simon &amp; Schuster</h5>

        <p class="card-text text-left">
        <b>Parent Company: </b>CBS Corporation<br>
        <b>Location: </b>1230 Avenue of the Americas Rockefeller Center, New York City, New York<br>
		    <b>Website: </b> <a href="http://www.simonandschuster.com">http://www.simonandschuster.com</a><br>
		    <b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Simon_%26_Schuster">https://en.wikipedia.org/wiki/Simon_%26_Schuster</a><br>
		    <b>Description: </b>Simon &amp; Schuster, Inc., a division of CBS Corporation, is a publisher founded in New York City in 1924 by Richard L. Simon and M. Lincoln Schuster. It is one of the largest English-language publishers, formerly known as the \"Big 6\", now known as the \"Big Five\". It publishes over 2,000 titles annually under 35 different imprints.<br><br></p>

        <a href="{{url_for('simonandschuster')}}" class="btn btn-info">More info</a>

      </div>

    </div>

  </div>

  <div class="col-sm-3">

    <div class="card">

    <img class="card-img-top" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" alt="randomhouse">

      <div class="card-body text-center">

        <h5 class="card-title text-center">Random House</h5>

        <p class="card-text text-left">
		<b>Parent Company: </b>Penguin Random House<br>
    <b>Location: </b> City of Westminster, London <br>
		<b>Website: </b> <a href="http://randomhouse.comhttp://www.simonandschuster.com"> http://randomhouse.comhttp://www.simonandschuster.com</a><br>
		<b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Random_House">https://en.wikipedia.org/wiki/Random_House</a><br>
		<b>Description: </b>Random House is the largest general-interest paperback publisher in the world. As of 2013, it is part of Penguin Random House, which is jointly owned by German media conglomerate Bertelsmann and British global education and publishing company Pearson PLC.<br><br>
        </p>

        <a href="{{url_for('randomhouse')}}" class="btn btn-info text-right">More info</a>

      </div>

    </div>

  </div>

  <div class="col-sm-3">

    <div class="card">

    <img class="card-img-top" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" alt="Palgrave Macmillan">

      <div class="card-body text-center">

        <h5 class="card-title">Palgrave Macmillan</h5>

        <p class="card-text text-left">
    <b>Parent Company: </b>Springer Nature<br>
    <b> Location: </b> London<br>
    <b>Website: </b> <a href="http://www.palgrave.com">http://www.palgrave.com</a><br>
    <b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Palgrave_Macmillan">https://en.wikipedia.org/wiki/Palgrave_Macmillan></a><br>
    <b>Description: </b> Palgrave Macmillan is an international academic and trade publishing company. Its programme includes textbooks, journals, monographs, professional and reference works in print and online.\nPalgrave Macmillan was created in 2000 when St. <br><br>
    </p>

        <a href="{{url_for('palmac')}}" class="btn btn-info">More info</a>

      </div>

    </div>

  </div>

</div>

</div>

</body>
