<!DOCTYPE html>
<html lang="en">

<head>
    <title>Random House</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "../static/css/pottermore.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".{{url_for('about')}}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
            <td width="50%" align = "center">
                <div class="container-fluid">
                    <h2>Books</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-bottom: 8%">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{{url_for('four_hour')}}"><img class=picture src="https://books.google.com/books/content/images/frontcover/tQ1C-rvAfJUC?fife=w500" alt="The 4-House Work Week" style="height:620px"></a>
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/QimJDAAAQBAJ?fife=w500" alt="Fool's Quest" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/2jf8Tna_MxMC?fife=w500" alt="The Two Towers" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/DQ-wif7eBJoC?fife=w500" alt="The Retaurant at the End of the Universe" style="height:600px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/KcWGokt5fsQC?fife=w500" alt="Life, the Universe and Everything" style="height:600px">
                            </div>

                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>

                    </div>
                </div>
            </td>

            <td width="50%" align = "center">

    <div class="container">
       <div class="row" >
        <div class="col-4">
        </div>

        <div class="col-4" style="align:center">
          <br><br><br><br>
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" alt="randomhouse" alt="Random House"><br><br>
        </div>

        <div class="col-4">
        </div>

        </div>

       <div class="row">

        <div class="col-2">
        </div>

        <div class="col-8">
            <b>Name:</b> Random House <br>
            <b>Parent Company: </b>Penguin Random House<br>
            <b>Location: </b> City of Westminster, London <br>
            <b>Website: </b> <a href="http://randomhouse.comhttp://www.simonandschuster.com"> http://randomhouse.comhttp://www.simonandschuster.com</a><br>
            <b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Random_House">https://en.wikipedia.org/wiki/Random_House</a><br>
            <b>Description: </b>Random House is the largest general-interest paperback publisher in the world. As of 2013, it is part of Penguin Random House, which is jointly owned by German media conglomerate Bertelsmann and British global education and publishing company Pearson PLC.<br><br></p>
        </div>

        <div class="col-2">
        </div>

       </div>
    </div>

            </td>
        </tr>
    </table>
    <hr>

                <div class="container-fluid">
                  <div class="row">
                   <div class="col-11">
                    <h2 align=right>Authors</h2>
                    <div id="authorCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="padding-bottom: 5%">
                            <div class="carousel-item active">
                                <div class = "carousel-caption">
                                    <h1><a href="{{url_for('timothy_ferriss')}}"> Timothy Ferriss</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a><br><br><br><br><br><br><br><br><br>
                                </div>
                                <a href="{{url_for('timothy_ferriss')}}"><img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Timothy_Ferriss.jpg/220px-Timothy_Ferriss.jpg" align=right style="width:500px"></a>

                            </div>

                            <div class="carousel-item">
                                <div class = "carousel-caption">
                                    <h1 style ="color:black"> Steven Erikson&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Patrick-rothfuss-2014-kyle-cassidy.jpg/250px-Patrick-rothfuss-2014-kyle-cassidy.jpg" style="width:500px" align=right alt = "Patrick Rothfuss" >
                            </div>

                            <div class="carousel-item">
                                <div class = "carousel-caption">
                                    <h1 style = "color:black"> Robin Hobb&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Mons089_Robin_Hobb.jpg/220px-Mons089_Robin_Hobb.jpg" style="width:500px" align=right alt = "Robin Hobb">
                            </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#authorCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#authorCarousel" data-slide-to="1"></li>
                            <li data-target="#authorCarousel" data-slide-to="2"></li>
                        </ol>
                       </div>
                       <div class="col-1">
                       </div>
                      </div>
                    </div>
                </div>

</body>

</html>
