<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simon &amp; Schuster</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "../static/css/pottermore.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table" width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
            <td width="50%" align = "center">
                <div class="container-fluid">
                    <h2>Books</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="padding-bottom: 8%">
                            <div class="carousel-item active">
                                <a href="{{url_for('emperor')}}"><img class=picture src="https://books.google.com/books/content/images/frontcover/hgx0sJvphNkC?fife=w500" alt="The Emperor of All Maladies" style="height:620px"></a>
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/Wpjqz9x2cJQC?fife=w500" alt="All the President's Men" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/uagODAAAQBAJ?fife=w500" alt="The Dark Tower I" style="height:620px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/trcACwAAQBAJ?fife=w500" alt="The Dark Tower II" style="height:600px">
                            </div>

                            <div class="carousel-item">
                                <img class=picture src="https://books.google.com/books/content/images/frontcover/RrcACwAAQBAJ?fife=w500" alt="The Dark Tower III" style="height:600px">
                            </div>

                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>

                    </div>
                </div>
            </td>

            <td width="50%" align = "center">


    <div class="container">
       <div class="row" >
        <div class="col-4">
        </div>

        <div class="col-4" style="align:center">
          <br><br><br><br>
          <img src="http://upload.wikimedia.org/wikipedia/en/thumb/d/db/Simon_and_Schuster.svg/200px-Simon_and_Schuster.svg.png" alt="Simon &amp; Schuster"><br><br>
        </div>

        <div class="col-4">
        </div>

        </div>

       <div class="row">

        <div class="col-2">
        </div>

        <div class="col-8">
            <b>Name: </b> Simon &amp; Schuster<br>
            <b>Parent Company: </b>CBS Corporation<br>
            <b>Location: </b>1230 Avenue of the Americas Rockefeller Center, New York City, New York<br>
            <b>Website: </b> <a href="http://www.simonandschuster.com">http://www.simonandschuster.com</a><br>
            <b>Wikipedia: </b> <a href="https://en.wikipedia.org/wiki/Simon_%26_Schuster">https://en.wikipedia.org/wiki/Simon_%26_Schuster</a><br>
            <b>Description: </b>Simon &amp; Schuster, Inc., a division of CBS Corporation, is a publisher founded in New York City in 1924 by Richard L. Simon and M. Lincoln Schuster. It is one of the largest English-language publishers, formerly known as the \"Big 6\", now known as the \"Big Five\". It publishes over 2,000 titles annually under 35 different imprints.<br><br></p>
        </div>

        <div class="col-2">
        </div>

       </div>
    </div>

            </td>
        </tr>
    </table>
<hr>
                <div class="container-fluid">
                 <div class="row">
                  <div class="col-11">
                    <h2 align=right>Authors</h2>
                    <div id="authorCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="padding-bottom: 5%">
                            <div class="carousel-item active">
                                <div class = "carousel-caption">
                                    <h1><a href="{{url_for('siddhartha_mukherjee')}}"> Siddhartha Mukerjee</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><<br><br><br><br><br><br><br><br><br>
                                </div>
                                <a href="{{url_for('siddhartha_mukherjee')}}"><img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Dr._Siddhartha_Mukherjee_2011.jpg/220px-Dr._Siddhartha_Mukherjee_2011.jpg" style="width:500px" align=right></a>

                            </div>

                            <div class="carousel-item">
                                <div class = "carousel-caption">
                                    <h1 style = "color:black">Stephen King&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Stephen_King%2C_Comicon.jpg/220px-Stephen_King%2C_Comicon.jpg" style="width:500px;" align=right alt = "Stephen King" >
                            </div>

                            <div class="carousel-item">
                                <div class = "carousel-caption">
                                    <h1 style = "color:black"> Ernest Hemingway&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1><br><br><br><br><br><br><br><br><br>
                                </div>
                                <img class=picture src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/28/ErnestHemingway.jpg/220px-ErnestHemingway.jpg" style="width:500px" align=right alt = "Ernest Hemingway">
                            </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#authorCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#authorCarousel" data-slide-to="1"></li>
                            <li data-target="#authorCarousel" data-slide-to="2"></li>
                        </ol>

                    </div>
                  </div>
                 </div>
                </div>

</body>

</html>
