<!DOCTYPE html>
<html>
<head>
	<title>Timothy Ferriss</title>
	<style type="text/css">
		th, td {
  			padding: 15px;
		}
	</style>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a href="{{url_for('home')}}" class="navbar-brand">Athenaeum</a>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('books')}}">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
      </li>
	</nav>

	<div align="center">
	<table style="width:60%">
		<tr>
			<td rowspan="6"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Timothy_Ferriss.jpg/220px-Timothy_Ferriss.jpg" style="width:350; height:350px;"></td>
			<td><b>Author: </b>Timothy Ferriss</td>
		</tr>

		<tr>
			<td><b>Book: </b> <a href="{{url_for('four_hour')}}">The 4-Hour Work Week</a></td>
		</tr>

		<tr>
			<td><b>Publisher: </b> <a href="../{{url_for('randomhouse')}}">Random House</a></td>
		</tr>

		<tr>
			<td><b>Birthday: </b> 07-20-1977 </td>
		</tr>

		<tr>
			<td><b>Nationality: </b> American </td>
		</tr>

		<tr>
			<td><b>Education: </b>Bachelor of Arts</td>
		</tr>
	</table>
</div>
</body>
</html>
